<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="{{ asset('css/default.css') }}">

    </head>
    <body>
        {% block header %}
            {% include '@Default/bandeau.html.twig' %}
        {% endblock %}
        <div STYLE="width: 35em;background-color: #F4F4F4;margin: 4em auto 0em auto;padding-bottom: 1em;border-radius: 0.25rem;text-align: center">
            {{ 'Home.intro' | trans }}
        </div>
        {% block footer %}
            {% include '@Default/footer.html.twig' %}
        {% endblock %}
    </body>
</html>
