.alignField{
    width: 20em;
    left: 50%;
    transform: translate(-50%, -50%);
}


.myTable{
    width: 60em;
    margin: 6em auto 0em auto;
    padding-bottom: 1em;
    border-radius: 0.25rem;
}

.myLittleTable{
    width: 35em;
    background-color: #F4F4F4;
    margin: 6em auto 0em auto;
    padding-bottom: 1em;
    border-radius: 0.25rem;
}

td,th {
    white-space: nowrap;
    background-color: #F4F4F4!important;
}

.arrowOrder{
    cursor: pointer;
}

.arrowSelected{
    color: grey;
}