<div class="form-floating mb-3 alignField">
    <input required type="{{ type | default("text") }}" class="form-control" id="floatingInput" placeholder="{{ ( 'FieldInput.' ~ nom ) | trans }}" name="{{ nom }}">
    <label for="floatingInput">{{ ( 'FieldInput.' ~ nom ) | trans }}</label>
</div>